* {
    color: white; 
    background-color: green;
}

#firstPtag {
    color: orange; 
}

.theOverall {
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.theUnderAll {
    background-color: purple;
}

p > span {
    color: gold;
}

h1 {
    background-color:firebrick;
    padding: 10px 10px 10px 40px;
    border: 3px dotted blue;
    margin: 70px 90px 10px 90px;
}